<%- include('./partials/head', {title: 'Youdemy - Register success'}) %> 

<h1>Register success</h1>
<h2>Welcome to Youdemy, <%= `${data.first_name} ${data.last_name}!` %></h2>
<h3>please <a href="/">Login</a> to proceed</h3>

<%- include('./partials/foot') %>